<span class="recipe-section">Description:</span>
<p>Use AngularJS to create a mobile web site for Android</p>
<span class="recipe-section">Ingredients:</span>
<ul class="ingredients">
    <li>AngularJS: http://angularjs.org/</li>
</ul>
<span class="recipe-section">Directions:</span>
<ol>
    <li>Create a WebView in your Android activity and enable javascript. The code should look something like this
        in the onCreate method of your main activity. <pre>
        @Override
        protected void onCreate(Bundle savedInstanceState) {
                super.onCreate(savedInstanceState);
                setContentView(R.layout.activity_main);
                WebView webview = (WebView)findViewById(R.id.webView1);
                WebSettings webSettings = webview.getSettings();
                webSettings.setJavaScriptEnabled(true);
                webview.loadUrl("file:///android_asset/index.html");
        }
</pre>
    <li>Download a minified Angular library from the web site above. Drop the angular.min.js file into the assets
        folder of the android app. Create an index.html in the assets folder as well. The html file should have the
        following content.</li>
    <pre>
&lt;html ng-app&gt;
&lt;head&gt;
  &lt;script src="file:///android_asset/angular.min.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;h1&gt;Hello Angular&lt;/h1&gt;
  &lt;input ng-model="name" placeholder="your name" /&gt;
  &lt;div&gt;Hello {{name}}!&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>
    <li>Now you should have a basic and working AngularJS application inside the Android WebView.</li>
    <li>Angular is very powerful. Take a look through the tutorials on the AngularJS web site and build yourself a
        working todo app with html and javascript.</li>
</ol>

<span class="recipe-section">Code:</span>
<p>https://bitbucket.org/gdgdallas/gdgdallas-angularexample</p>
