<span class="recipe-section">Description:</span>
<p>Coming soon</p>
<span class="recipe-section">Ingredients:</span>
<ul class="ingredients">
    <li>Coming soon</li>
</ul>
<span class="recipe-section">Directions:</span>
<ol>
    <li>Coming soon</li>
</ol>
