<span class="recipe-section">Description:</span>
<p>Use the Google Maps Directions API to always know how to get home.</p>
<span class="recipe-section">Ingredients:</span>
<ul class="ingredients">
    <li>Google Maps Directions API:
        http://maps.googleapis.com/maps/api/directions/json?origin=700%20hidden%20ridge,%20irving,%20tx&destination=iowa&sensor=false</li>
    <li>GSON for parsing JSON Data: https://code.google.com/p/google-gson/</li>
</ul>
<span class="recipe-section">Directions:</span>
<ol>
    <li>Create a basic Android hello world application. Add the GSON library to the libs folder. Create the
        following classes: <pre>public class ApiResult {
        public Route[] routes;
}
public class Route {
        public Leg[] legs;
}
public class Leg {
        public Step[] steps;
}
public class Step {
        public String html_instructions;
}
        </pre>
    </li>

    <li>Here’s a little bit of code to parse the results from the Google Maps API into objects. <pre>URL url = new URL("http://maps.googleapis.com/maps/api/directions/json?origin=700%20hidden%20ridge,%20irving,%20tx&destination=iowa&sensor=false");
InputStream stream = (InputStream) url.getContent();
String json = stream2string(stream);
Gson gson = new Gson();
ApiResult result = gson.fromJson(json, ApiResult.class);</pre>
        <p>You should be able to throw that code into an AsyncTask and be on your way to directions. For extra bonus
            points get the latitude and longitude from the device. If you have trouble putting this code together, grab
            a helper or check out this working example:</p></li>
</ol>
<span class="recipe-section">Code:</span>
<p>https://bitbucket.org/gdgdallas/gdgdallas-directionsexample</p>