<span class="recipe-section">Description:</span>
<p>Write an app to fetch all the models of Honda and pictures from the Google Freebase API.</p>
<span class="recipe-section">Ingredients:</span>
<ul class="ingredients">
    <li>Google’s API Explorer for Freebase: https://developers.google.com/apis-explorer/#p/freebase/v1/</li>
    <li>GSON to parse JSON data: https://code.google.com/p/google-gson/</li>
</ul>
<span class="recipe-section">Directions:</span>
<ol>
    <li>Go to the Google API explorer and take a look at what Freebase has to offer. There’s a huge pile of data
        there! Once you’ve explored just a little bit, take a look at this URL.
        <p>
            https://www.googleapis.com/freebase/v1/search?query=honda&indent=true&filter=(any%20type:/automotive/model)</p>
        <p>That should get you a list of Honda models.</p>
    </li>
    <li>Now lets parse those models with GSON <pre>public class ResultItem {
        public String name;
        public String mid;
}
public class Result {
        public ResultItem[] results;
}</pre>
        <p>The ResultItem contains a freebase ID (mid) and a name. You should be able to use GSON to parse results
            into an object.</p></li>
    <li>Now use Freebase to get the images. Here’s the url for the Honda Fit. Notice where that mid goes?
        <p>https://www.googleapis.com/freebase/v1/image/%2Fm%2F025wph</p>
    </li>
</ol>
