<span class="recipe-section">Description:</span>
<p>Use the new Android fused location provider to get the location of the device.</p>
<span class="recipe-section">Ingredients:</span>
<ul class="ingredients">
    <li>Google Play Services SDK: https://developer.android.com/google/play-services/setup.html</li>
</ul>
<span class="recipe-section">Directions:</span>
<ol>
    <li>Make sure the Google Play Services SDK is installed on your system using the SDK manager.</li>
    <li>Next, import the Play Services Library into your project. Go to
        https://developer.android.com/google/play-services/setup.html and follow the instructions for your development
        environment by choosing ADT or Android Studio from the drop down menu.</li>
    <li>Once you have the library imported, add a reference to the library in your project. From there, add a
        TextView named text1 to your layout and add the following code to your MainActivity.java. <pre>public class MainActivity extends Activity implements ConnectionCallbacks, OnConnectionFailedListener {
        TextView textview;
        LocationClient client;
        @Override
        protected void onCreate(Bundle savedInstanceState) {
                super.onCreate(savedInstanceState);
                setContentView(R.layout.activity_main);
                client = new LocationClient(getApplicationContext(), this, this);
                client.connect();
                textview = (TextView)findViewById(R.id.text1);
        }
        @Override
        public void onConnected(Bundle arg0) {
                Location l = client.getLastLocation();
                String lat = String.valueOf(l.getLatitude());
                textview.setText(lat);
        }
        @Override
        public void onDisconnected() {
                // TODO Auto-generated method stub
        }
        @Override
        public void onConnectionFailed(ConnectionResult arg0) {
                // TODO Auto-generated method stub
        }
}</pre>
    </li>
    <li>Now you should have a project that will load and display the latitude of the device. Continue on to get the
        address from the maps geocoding service. See the following url for a geocoding api sample.
        <p>http://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&amp;sensor=false</p>
    </li>
</ol>
<span class="recipe-section">Code:</span>
<p>https://bitbucket.org/gdgdallas/gdgdallas-locationexample</p>