<span class="recipe-section">Description:</span>
<p>Use Go and App Engine to create a website to send GCM push messages to registered devices. Go is an efficient and
    fun open source language developed at Google for highly scalable and concurrent applications. It’s a great language
    for an app server application. In this recipe, we’ll use Go to create a Google Cloud Messaging backend.</p>
<span class="recipe-section">Ingredients:</span>
<ul class="ingredients">
    <li>Go language: http://golang.org/</li>
    <li>Google App Engine: https://developers.google.com/appengine/</li>
</ul>
<span class="recipe-section">Directions:</span>
<ol>
    <li>If you haven’t already, take the Go language tour. It will get you up to speed on the basics of Go. Also,
        this tour is quite enough to write the code we need to write. Take your time and play with the examples.
        http://tour.golang.org</li>
    <li>Once you’ve completed the tour, download and install the Go distribution for your machine. This will allow
        you to build and comple Go on your system. http://golang.org/doc/install</li>
    <li>Go to the Google Cloud Console and set up a project with App Engine enabled.
        https://cloud.google.com/console</li>
    <li>Finally, we’ll get set up to deploy Go applications to App Engine. These tools will allow you to build a go
        app and launch it on app engine. https://developers.google.com/appengine/docs/go/gettingstarted/introduction</li>
    <li>Read through the documentation for Go on App Engine. https://developers.google.com/appengine/docs/go/</li>
    <li>Now, were ready to write some code! Start by deploying a hello world to app engine. There’s a version of
        that program at the link above.</li>
    <li>If you get stuck, grab a helper, we’ll get you up and running.</li>
</ol>
<span class="recipe-section">Code:</span>
<p>Server: https://bitbucket.org/gdgdallas/gdgdallas-gcmserver</p>
<p>Client: https://bitbucket.org/gdgdallas/gdgdallas-gcmclient</p>