<span class="recipe-section">Description:</span>
<p>Configure and build the Google Drive sample application.</p>
<span class="recipe-section">Ingredients:</span>
<ul class="ingredients">
    <li>Google Drive Quickstart: https://developers.google.com/drive/quickstart-android</li>
    <li>Google API Console: https://code.google.com/apis/console</li>
</ul>
<span class="recipe-section">Directions:</span>
<ol>
    <li>Generate a signing certificate's SHA-1 fingerprint with the following command in a terminal:<pre>keytool -exportcert -alias androiddebugkey -keystore ~/.android/debug.keystore -list -v</pre></li>
    <li>Enable the Drive API in the Services tab of the Google API Console. Then select the API Access tab in your
        API project, and click Create an OAuth 2.0 client ID.In the Branding Information section, provide a name for
        your application (e.g. "Drive Quickstart Sample"), and click Next.</li>
    <li>In the Client ID Settings select Android for the Installed application type.Type
        "com.example.drivequickstart" in Package name.Paste the SHA-1 fingerprint generated in Step 1 into the Signing
        certificate fingerprint. Click Create Client ID.</li>
    <li>In Eclipse, create a new Android Application Project. Type "Drive Quickstart" in Application Name. Select
        API 17: Android 4.2 for the Target SDK. Select Google APIs (Google Inc.) (API 17) for the Compile With. Leave
        all other fields with the default values and click Next. In all other pages, leave all settings with their
        default values and click Next till you can click Finish.</li>
    <li>Next step is adding the Google Drive client library. Select Add Google APIs... from the Google Plugin for
        Eclipse dropdown. Select Drive API v2 from the list and click Finish.</li>
    <li>Finally, you need to make sure the Google Play Services client library is being included in the Android's
        project build path: Select Project > Properties > Java Build Path > Libraries from the Eclipse menu. Click Add
        External JARs. Browse to <pre>{android-sdk-folder}/extras/google/google_play_services/libproject/google-play-services_lib/libs, select google-play-services.jar
        </pre>and click OK. In the Order and Export tab, make sure the checkbox by the google-play-services.jar file is
        checked.
    </li>
    <li>The last step is to configure and run the sample. Cut and paste the code from the following link
        <p>https://developers.google.com/drive/quickstart-android#step_4_set_up_the_sample</p>
    </li>
    <li>Run the sample and you should be able to send a photo to Google Drive!</li>
</ol>
