<span class="recipe-section">Description:</span>
<p>Write an app using the Google Places API to find the nearest Starbucks!</p>
<span class="recipe-section">Ingredients:</span>
<ul class="ingredients">
    <li>Google Cloud Console: https://cloud.google.com/console</li>
    <li>Google Places API: https://developers.google.com/places/documentation/</li>
    <li>Google GSON parser for JSON: https://code.google.com/p/google-gson/</li>
</ul>
<span class="recipe-section">Directions:</span>
<ol>
    <li>First, use the Google Cloud Console to obtain an API key. Your api key will look something like this
        “AIzaSyAUBMNk774FRfxbr…” but longer. Once you find your API key in the console, enable the Places API. It’s free
        for 1000 requests/day. If you get stuck on this console step, grab a helper, we’ll walk you through it.</li>
    <li>Next, after you’ve enabled the places api, test it by hitting this URL:<pre>https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=32.8410231,-97.1924821&sensor=false&radius=50000&keyword=starbucks&key=[yourapikeygoeshere]</pre>
        <p>This should show you a JSON list of the nearest Starbuck to the Hurst Convention Center! Sweet, eh?</p>
    </li>
    <li>Now, create a basic android app and add this permission to the manifest: <pre>&lt;uses-permission android:name="android.permission.INTERNET" /&gt;
        </pre></li>
    <li>We’ll need a couple of objects for Gson to parse the results. Create these two objects in your project:<pre>public class Place {
        public String name;
        public int price_level;
        public float rating;
        public String vicinity;
}
public class PlaceResult {
        public Place[] results;
}</pre></li>
    <li>Now, add a Loader to your main activity with the code to do the http request and parse the Gson result.</li>
    <li>For bonus points get the lat lng from Google Play Services on the device.</li>
</ol>
<span class="recipe-section">Code:</span>
<p>https://bitbucket.org/gdgdallas/gdgdallas-placesexample</p>
