<span class="recipe-section">Description:</span>
<p>Create a mobile web application using WebView.</p>
<span class="recipe-section">Ingredients:</span>
<ul class="ingredients">
    <li>Android WebView: http://developer.android.com/guide/webapps/webview.html</li>
    <li>Example mobile website: http://jqtjs.com/preview/demos/main/ (We’ll wrap that up to provide an app)</li>
</ul>
<span class="recipe-section">Directions:</span>
<ol>
    <li>Create a basic hello world application and delete the hello TextView from the main activity.</li>
    <li>Expand the Composite section of your toolbox and drag and drop the WebView onto the activity.</li>
    <li>Add the following line inside the &lt;manifest&gt; of your ApplicationManifest.xml:<pre>&lt;uses-permission android:name="android.permission.INTERNET"/&gt;</pre></li>
    <li>Stick this code in your main activity and test:<pre>
@Override
protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);
        webview = (WebView)findViewById(R.id.webView1);
        webview.loadUrl("http://jqtjs.com/preview/demos/main/");
}
    </pre></li>
    <li>You should be able to see the basic web page. However, clicking on something will not work. The site uses
        javascript and the WebView, by default, does not enable javascript. Add the following two lines of code to your
        onCreate:<pre>WebSettings settings = webview.getSettings();
settings.setJavaScriptEnabled(true);</pre>
    </li>
    <li>Boom. You have an app! If you had trouble getting anything together, ask a helper and we’ll get you through
        it.</li>
    <li>Web view is a great way to make a quick, easy, and useful app without a ton of code. For bonus points, take
        a look at calling native functions from javascript! You’ll find more information at the link above.</li>
</ol>
