<span class="recipe-section">Description:</span>
<p>Get set up to do Android development with this tasty treat. We'll be installing the latest Android Studio
    development environment.</p>
<span class="recipe-section">Ingredients:</span>
<ul class="ingredients">
    <li>Get the Android Studio Beta download from https://developer.android.com/sdk/installing/studio.html</li>
    <li>If you don't already have it, Android Studio may require you to install the Java Development Kit which you
        can download from http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html.</li>
</ul>

<span class="recipe-section">Directions:</span>
<ol>
    <li>Download and run the file named android-studio-bundle-<os_platform>.exe (.dmg on Macs and
        .tgz on Linux). Follow the installation instructions on screen. For detailed installation instructions on your
        platform of choice, visit https://developer.android.com/sdk/installing/index.html?pkg=studio</li>
    <li>Launch Android Studio from your Start menu or Applications list if it isn't already running after
        installation.</li>
    <li>You'll be greeted with a Welcome menu. Click on "New Project...".</li>
    <li>In the window that appears, you'll be shown a series of forms to fill out with your new app's info.:
        <ul>
            <li><strong>Application Name</strong> is the app name that appears to users. For this project, use "My
                First App."</li>
            <li><strong>Company Domain</strong> is the name of your company or group, something like
                "yourname.example.com". This is used to automatically generate the <strong>Package name</strong> below
                this field.This is the package namespace for your app Your package name must be unique across all
                packages installed on the Android system. For this project, you can use something like the example.
                However, you cannot publish your app on Google Play using the "com.example" namespace.</li>
            <li><strong>Project Location</strong> can be left with the default path unless you desire an alternate
                folder for your project.</li>
            <li><strong>Minimum Required SDK</strong> is the lowest version of Android that your app supports,
                indicated using the API level. Leave this set to the default value for this project.</li>
            <li>Click Next.</li>
            <li>Leave <strong>Phone and Tablet</strong> checked, and leave <strong>Minimum SDK</strong> at the
                default. This indicates the lowest version of Android (also using the API level) with which you have
                tested with your application. Click Next.
            </li>
        </ul>
    </li>
    <li>Leave Blank Activity selected and click Next.</li>
    <li>Leave all the details for the activity in their default state. Click Finish.</li>
    <li>Android Studio may take a minute or two to set up and then open your project. On Windows, allow any
        requests for Internet access you are prompted for.</li>
    <li>You’re done! Notify a helper and we’ll show you how to test your app!</li>
</ol>
