<span class="recipe-section">Description:</span>
<p>Launch an intent to do voice recognition and display the results in text.</p>
<span class="recipe-section">Ingredients:</span>
<ul class="ingredients">
    <li>Android Speech Recognition APIs: http://developer.android.com/reference/android/speech/package-summary.html</li>
</ul>
<span class="recipe-section">Directions:</span>
<ol>
    <li>Recognizing speech in Android is easy. Create a sample application and drop a button into the main activity
        using the following xml:<pre>&lt;Button
android:layout_width="wrap_content"
android:layout_height="wrap_content"
android:onClick="getSpeech"
android:text="Get Speech" /&gt;</pre>
    </li>
    <li>Now, in your main activity paste the following code:<pre>private static final int REQUEST_SPEECH = 0;
public void getSpeech(View view) {
Intent i = new Intent(RecognizerIntent.ACTION_RECOGNIZE_SPEECH);
i.putExtra(RecognizerIntent.EXTRA_MAX_RESULTS, 5);
i.putExtra(RecognizerIntent.EXTRA_LANGUAGE_MODEL, RecognizerIntent.LANGUAGE_MODEL_WEB_SEARCH);
startActivityForResult(i, REQUEST_SPEECH);
}</pre></li>
    <li>Now you’ll need just a little more code to handle and show the results:<pre>protected void onActivityResult(int requestCode, int resultCode, Intent i) {
    switch(requestCode) {
    case REQUEST_SPEECH :
           ArrayList<String> results =
i.getStringArrayListExtra(RecognizerIntent.EXTRA_RESULTS);
Toast.makeText(this, results.get(0), Toast.LENGTH_LONG).show();
           break;
    }
}
        
        </pre></li>
    <li>If you have any trouble, grab a helper and we’ll get it together for you. That’s it. You should be
        recognizing speech! Now that you can see how easy it is to do speech recognition on Android, try combining this
        example with others. Imagine speaking an address to get directions, or even take a picture.</li>
</ol>
