<span class="recipe-section">Description:</span>
<p>Create an app to take a picture and save it as the current wallpaper.</p>
<span class="recipe-section">Ingredients:</span>
<ul class="ingredients">
    <li>http://developer.android.com/guide/topics/media/camera.html</li>
</ul>
<span class="recipe-section">Directions:</span>
<ol>
    <li>Here’s the code to trigger capturing a photo from the onboard camera. <pre>private static final int CAPTURE_IMAGE_ACTIVITY_REQUEST_CODE = 100;
Intent intent = new Intent(MediaStore.ACTION_IMAGE_CAPTURE);
fileUri = getOutputMediaFileUri(MEDIA_TYPE_IMAGE); // create a file to save the image
intent.putExtra(MediaStore.EXTRA_OUTPUT, fileUri); // set the image file name
startActivityForResult(intent, CAPTURE_IMAGE_ACTIVITY_REQUEST_CODE);</pre></li>
    <li>Here’s code to handle the results from the camera capture event:<pre>protected void onActivityResult(int requestCode, int resultCode, Intent data) {
    if (requestCode == CAPTURE_IMAGE_ACTIVITY_REQUEST_CODE) {
        if (resultCode == RESULT_OK) {
            Toast.makeText(this, "Image saved to:\n" +
                     data.getData(), Toast.LENGTH_LONG).show();
        } else if (resultCode == RESULT_CANCELED) {
            // User cancelled the image capture
        } else {
            // Image capture failed, advise user
        }
    }
}</pre></li>
    <li>Code to set wallpaper: <pre>Context context = this.getBaseContext();
Bitmap bitmap = BitmapFactory.decodeFile(filepath);
context.setWallpaper(bitmap);
    </pre></li>
    <li>Assemble the code scraps above into a basic activity with a button to capture the photo. If you need help
        wiring things together. Grab a helper. We’ll show you how!</li>
</ol>
