<span class="recipe-section">Description:</span>
<p>Launch an app monetized with AdMob to the Google Play Store.</p>
<span class="recipe-section">Ingredients:</span>
<ul class="ingredients">
    <li>AdMob SDK: https://www.admob.com</li>
    <li>AdMob Getting Started: https://developers.google.com/mobile-ads-sdk/docs/admob/fundamentals?csw=1#android</li>
    <li>Google Play Store: http://developer.android.com/distribute/googleplay/publish/register.html</li>
</ul>
<span class="recipe-section">Directions:</span>
<ol>
    <li>Use one of the other recipes to create an application. The soundboard one is a good example. Make sure it’s
        got a unique package name that can be deployed to the Google Play Store (not com.example.whatever).</li>
    <li>Sign up for publisher account over at admob.com and register the new android application. From there,
        you’ll be able to download the AdMob SDK for Android.</li>
    <li>Once you have it downloaded, look over the AdMob getting started documentation at the link above. Implement
        the banner add on your application.</li>
    <li>Sign up to be an App publisher over at the Google Play Store and read the getting started info at the link
        above. It’ll cost you $25 for life.</li>
    <li>Publish your app, profit, and have a cocktail. If you can’t quite get to this point, grab a helper and
        we’ll get you on your way.</li>
</ol>
