<span class="recipe-section">Description:</span>
<p>Create an app to play various sounds on button presses.</p>
<span class="recipe-section">Ingredients:</span>
<ul class="ingredients">
    <li>Android SoundPool: http://developer.android.com/reference/android/media/SoundPool.html</li>
    <li>Random sound files</li>
</ul>
<span class="recipe-section">Directions:</span>
<ol>
    <li>First, create a basic android project and drop a sound file into the res/raw folder. In this example, we’ll
        use the droidhd.ogg file mentioned above. If the /raw folder doesn’t exist, create it.</li>
    <li>
    <li>Next, add the following code to your main activity. <pre>SoundPool pool = new SoundPool(1, AudioManager.STREAM_MUSIC, 0);
int soundid; // this is the id of the sound we'll load</pre></li>
    <li>Now in your onCreate method, we’ll need to load a sound. It’ll look something like this. <pre>@Override
        protected void onCreate(Bundle savedInstanceState) {
                super.onCreate(savedInstanceState);
                setContentView(R.layout.activity_main);
                soundid = pool.load(this, R.raw.droidhd, 1);
        }
    </pre></li>
    <li>Once the sound is loaded, we can play it. Let’s add a button to your activity_main.xml using the following
        xml. <pre>&lt;Button
        android:onClick="playSound"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Play Sound" /&gt;</pre>
    </li>
    <li>And finally in the MainActivity.java let’s add the method that will fire onClick. <pre>public void playSound(View view) {
    pool.play(soundid, 1, 1, 1, 0, 1);
}</pre></li>
    <li>Now you should be able to test the app and play sounds! If you have any trouble grab a helper and we’ll
        guide you. For extra credit, grab more sounds and build a complete sound board.</li>
</ol>
<span class="recipe-section">Code:</span>
<p>https://bitbucket.org/gdgdallas/gdgdallas-soundboardexample</p>