<span class="recipe-section">Description:</span>
<p>Use voice recognition to send a spoken text to a preselected user after clicking a 1x1 widget.</p>
<span class="recipe-section">Ingredients:</span>
<ul class="ingredients">
    <li>App Widget: http://developer.android.com/guide/topics/appwidgets/index.html</li>
    <li>Contact Picker: http://mobile.tutsplus.com/tutorials/android/android-essentials-using-the-contact-picker/</li>
</ul>
<span class="recipe-section">Directions:</span>
<ol>
    <li>Build a basic project using the App Widget guide above. A simple 1x1 widget will be best. To get started,
        have it display the minute of the hour or something simple. If you have trouble, grab a helper and we’ll get you
        started.</li>
    <li>Once you have your basic widget up and running, add a configuration activity. From this activity, we’re
        going to pick a contact. When the activity loads, throw the contact picker intent as detail in the second link
        above. Modify the widget so that it now shows the last name of the contact.</li>
    <li>Add a pending intent to the remote view of the widget. This pending intent should launch a new activity in
        your project. The new activity should temporarily just display the phone number of the person selected when the
        widget was configured.</li>
    <li>Now, modify the new activity to throw a voice recognition intent. The result should show the recognized
        text on the new activity. Now place a send button on the new activity.</li>
    <li>Finally use the following scrap of code to send an SMS to the intended recipient.<pre>String messageToSend = "this is a message";
String number = "2121234567";
SmsManager.getDefault().sendTextMessage(number, null, messageToSend, null,null);</pre></li>
    <li>Now you should have a useful app! Put it in the market and profit.</li>
</ol>
