<span class="recipe-section">Description:</span>
<p>Write an app to show the next event on your calendar. Android devices expose a number of Content Providers. These
    providers allow applications to data such as contacts, calendar, browser history, sms logs and more. In this recipe,
    we’ll connect to the calendar provider and fetch the next event.</p>
<p>Note, this will only work on Android devices running 4.0 or higher. The calendar provider was opened up on that
    version.</p>
<span class="recipe-section">Ingredients:</span>
<ul class="ingredients">
    <li>Calendar provider in Android: http://developer.android.com/guide/topics/providers/calendar-provider.html</li>
</ul>
<span class="recipe-section">Directions:</span>
<ol>
    <li>First, you’ll need to add the following permission to your AndroidManifest.xml. This xml should go inside
        the &lt;manifest&gt; node.<pre>&lt;uses-permission android:name="android.permission.READ_CALENDAR"/&gt;</pre>
    </li>
    <li>Next, you’ll need to add a TextView to your main activity and grab a reference to it. If you get stuck
        here, grab a helper. We’ll guide you through it.</li>
    <li>Once you have a TextView, use the following code to query the calendar provider:<pre>String[] columns = { CalendarContract.Instances._ID, CalendarContract.Instances.TITLE };
long begin = new Date().getTime();
long end = begin + (24 * 60 * 60 * 1000);
Cursor cursor = CalendarContract.Instances.query(getContentResolver(), columns, begin, end);
cursor.moveToFirst();
String titletext = cursor.getString(1);</pre></li>
    <li>That should do it! You should be able to run the app and see your next calendar event onscreen. If you got
        this far, why not take it a little farther? Look up the Android ListView and see if you can bind the calendar
        entries to a list!</li>
</ol>
<span class="recipe-section">Code:</span>
<p>https://bitbucket.org/gdgdallas/gdgdallas-sampleproviders</p>
