<span class="recipe-section">Description:</span>
<p>Install and configure Intel HAXM and the Intel images for a speedy emulator. The HAXM layer allows your Android
    emulator to run on a hardware assisted virtualization layer. This means you’re running Android almost natively on
    the processor of your laptop.</p>
<span class="recipe-section">Ingredients:</span>
<ul class="ingredients">
    <li>Download the HAXM layer for Windows, Mac, or Linux at
        http://software.intel.com/en-us/articles/intel-hardware-accelerated-execution-manager</li>
</ul>

<span class="recipe-section">Directions:</span>
<ol>
    <li>Unzip the download package for HAXM on your machine. Follow the installation instructions on the site. Once
        you have HAXM installed, make sure we have emulator system images from Intel.</li>
    <li>Launch the Android SDK Manager. Expand Android 4.2.2, 4.1.2, or 4.0.3. Intel has created images for all of
        these versions. Check the box next to the “Intel x86 Atom System Image”. Choose “Install Packages” and let the
        SDK manager install the android image.</li>
    <li>Finally we need to create a new virtual device based on the new system image. Open the AVD manager (from
        the icon in Eclipse). Choose the “Device Definitions” tab and click “New Device”. Create a new device with any
        parameters. Here are parameters for emulating a device like the original Nexus 7: <pre>Abstract LCD Density: 213
Hardware Back/Home keys: no
Keyboard lid support: no
Max VM Heap size: 48
Device ram: 1024</pre>
    </li>
    <li>Once the device is created, click the Android Virtual Devices tab. Choose “New” to create a new Virtual
        Device. Enter reasonable parameters like the following: <pre>AVD Name: MyIntelAvd
Device: &lt;Select Your New Device&gt;
Target: &lt;ChooseAndroid 4.2.2, 4.1.2, or 4.0.3&gt; 
CPU: Intel Atom (x86) THIS IS THE IMPORTANT PART! 
SD Card: 200mb Use Host 
GPU: Enabled</pre>
    </li>
    <li>This should create a new emulator with hardware acceleration enabled. It should be nice and quick. To test
        acceleration, you should see the following in the console when the emulator starts. <pre>HAX is working and emulator runs in fast virt mode</pre>If
        you see this, you should have a speedy emulator up and running to test your code. Grab another recipe and lets
        make some stuff!
    </li>
</ol>
